#message{
    font-size: 48px;
    display: flex;
    align-self: center;
    justify-content: center;
}
#key{
    font-size: 48px;
    display: flex;
    align-self: center;
    justify-content: center;
}
#new-game{
    padding: 15px 15px;
    color: antiquewhite;
    background-color: blue;
    border: none;
    border-radius: 10px;
}